// Colors
$navy: #01005B;
$cream: #F9F0E6 ;
$white: #ffffff;
$text-dark: #6C6C6C;

$background-grey: #F0EEEF;
$background-dark-grey: #EDEDED;


// Typography
$font-sans: 'Sofia Pro', sans-serif;
$font-serif: 'Suisse Intl', sans-serif;
$font-mono: 'Fira Mono', monospace;

// Spacing
$section-padding: 80px 0;
$section-padding-mobile: 48px 0;
$container-max: 1200px;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
